.card {
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  max-width: 100%;
  height: 281px;


}

.card__image {
  background-image: url(../../images/tatiavatar.jpg);
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 203px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card__title {
  max-width: 250px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
}

.card__time {
  display: flex;
  margin-top: 16px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  align-items: center;
}

.card__delete-button {
  background-image: url(../../images/delete-button.svg);
  width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  margin-right: 6px;
  background-image: url("../../images/like.svg");
  width: 14px;
  height: 12px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../../images/like-active.svg);
}

.card__delete-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .card {
    height: 262px;
  }
  .card__container {
    padding: 11px 15px;
  }
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 233px;
  }



  .card__image {
    height: 168px;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .card__time {
    margin-top: 13px;
    font-size: 10px;
    line-height: 12px;
  }
}